<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ja</string>
    <key>CFBundleDisplayName</key>
    <string>ぬこIME</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>ja</string>
        <string>en</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>NukoIME</string>
    <key>CFBundleIdentifier</key>
    <string>com.nuko.inputmethod.Nuko</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>NukoIME</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>InputMethodConnectionName</key>
    <string>com.nuko.inputmethod.Nuko_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>NukoInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>NukoInputController</string>
    <key>TISIntendedLanguage</key>
    <string>ja</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Hira</string>
        <string>Kana</string>
        <string>Latn</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>icon</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.nuko.inputmethod.Nuko.Japanese</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>com.nuko.inputmethod.Nuko.Japanese</string>
                <key>TISIntendedLanguage</key>
                <string>ja</string>
                <key>tsInputModeAlternateMenuIconFileKey</key>
                <string>icon-japanese</string>
                <key>tsInputModeCharacterRepertoireKey</key>
                <array>
                    <string>Hira</string>
                    <string>Kana</string>
                    <string>Latn</string>
                </array>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string>j</string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>1572864</integer>
                <key>tsInputModeMenuIconFileKey</key>
                <string>icon-japanese</string>
                <key>tsInputModePaletteIconFileKey</key>
                <string>icon-japanese</string>
                <key>tsInputModePrimaryInJapaneseFileKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smJapanese</string>
            </dict>
            <key>com.nuko.inputmethod.Nuko.Roman</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>com.nuko.inputmethod.Nuko.Roman</string>
                <key>TISIntendedLanguage</key>
                <string>en</string>
                <key>tsInputModeAlternateMenuIconFileKey</key>
                <string>icon-roman</string>
                <key>tsInputModeCharacterRepertoireKey</key>
                <array>
                    <string>Latn</string>
                </array>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string>r</string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>1572864</integer>
                <key>tsInputModeMenuIconFileKey</key>
                <string>icon-roman</string>
                <key>tsInputModePaletteIconFileKey</key>
                <string>icon-roman</string>
                <key>tsInputModeScriptKey</key>
                <string>smRoman</string>
            </dict>
        </dict>
    </dict>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
